.SettingsPage {
  background-color: #0d0d0d; /* Темный фон ночного города */
  color: #f1f1f1; /* Белый текст для контраста */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  .title {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
    color: #f9b700; /* Теплый желтый цвет для названия */
    text-shadow: 0 0 10px #f9b700, 0 0 20px #f9b700; /* Эффект неонового света */
    transition: transform 1s, opacity 1s; /* Плавная анимация */
  }

  .back-button{
    z-index: 10; 
    background-color: #f9b700;
    border: none;
    padding: 20px 40px;
    margin: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    color: #0d0d0d;
    transition: transform 1s, opacity 1s; /* Плавная анимация */
  }

  .back-button:hover {  
    box-shadow: 0 0 20px #f9b700;
    transform: scale(1.05);
  }

  .back-button:active {
    transform: scale(0.95);
  }

  &.animate {
    .title {
      transform: translateY(-100%); /* Двигаем заголовок вверх */
      opacity: 0; /* Заголовок исчезает */
    }

    .back-button {
      transform: translateY(-100%); /* Двигаем кнопку вверх */
      opacity: 0; /* Кнопка исчезает */
    }
  }

  .modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal {
    width: 240px;
    height: 254px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    background: #fff;
    border-radius: 20px;
  }

  .modal > * {
    margin: 0;
  }

  .modal__title {
    font-size: 23px;
    font-weight: 900;
    color: #333;
  }

  .modal__content {
    font-size: 13px;
    line-height: 18px;
    color: #333;
  }

  .modal__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .modal__form input {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: .8vw;
    color: #fff;
    cursor: pointer;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    max-width: 190px;
    transition: .4s;
  }

  .modal__form button {
    border: 0;
    background: #111;
    color: #fff;
    padding: 0.68em;
    border-radius: 14px;
    font-weight: bold;
  }

  .modal__sign-up:hover {
    opacity: 0.8;
  } 
}